<h1><%= @scheduled_goal.goal.description %></h1>
  <h3>Scheduled For: <%= @scheduled_goal.start_time %></h3>

<%= link_to "Edit", edit_user_scheduled_goal_path(@user, @scheduled_goal) %>
<%= link_to "Delete", user_scheduled_goal_path(@user, @scheduled_goal), method: :delete %>
